{{ define "main" }}
  <div class="page-header">
    <div class="page-header-inner">
      <h1>{{ .Title }}</h1>
      <div class="meta">
        {{ if not .Date.IsZero }}
          <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ .Date | time.Format ":date_long" }}</time>
        {{ end }}
        {{ with .Params.author }}
          {{ if reflect.IsSlice . }}
            <span class="author">{{ delimit . ", " }}</span>
          {{ else }}
            <span class="author">{{ . }}</span>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>

  <div class="page-content">
    {{ .Content }}
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </div>
{{ end }}
